<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    
    {% include 'nav.html' %}

    <div class="container my-5">

    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Books</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              
              {% for n in booknum %}
              
              {{ n['num'] }}

              {% endfor %}
            
            </h1>
            <a class="w-100 btn  btn-outline-primary" href="/add">Add Book</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Authors</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">

              {% for n in authornum %}
              
              {{ n['num'] }}

              {% endfor %}

            </h1>
            <a class="w-100 btn  btn-outline-primary" href="/addAuthor">Add Author</a>
          </div>
        </div>
      </div>
      
    </div>


</div>


    <div class="container my-5">
      <div class="col-lg-12 px-0">
        
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Author</th>
				<th scope="col">Editor</th>
				<th scope="col">ISBN</th>
				<th>&nbsp;</th>
			  </tr>
			</thead>
			<tbody>

				{% for book in books %}

					<tr>
						<td>{{ book['book_id'] }}</td>
						<td>{{ book['title'] }}</td>
						<td>{{ book['first_name'] }} {{ book['last_name'] }}</td>
						<td></td>
						<td>{{ book['isbn'] }}</td>
						<td><i class="bi bi-pencil-fill"></i> edit</td>
					</tr>

				{% endfor %}

			</tbody>
		</table>

      </div>
    </div>

    {% include 'footer.html' %}

  </body>
</html>